<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Feature-extractor</title>
		<script type="text/javascript">
			/**
			 * JSONViewer - by Roman Makudera 2016 (c) MIT licence. https://github.com/LorDOniX/json-viewer
			 */
			{{ jsonviewer }}
		</script>
		<style type="text/css">
			/* JSONViewer CSS */
			{{ jsonviewercss }}
		</style>
		<style type="text/css">
			{{ style }}
		</style>
	</head>	
<body>

<div style="display:none">
	<div id="feature_template" class="feature_div">
		<div>
		<h3 id="name"></h3>
			<div id="success_div">
				<p id="success"> </p>

			</div>
            <div id="parsed_data">
            </div>
          <div class="JSON_control_div">
              <p class="JSON_control_p"> Full JSON: </p>
			        <button type="button" class="load-json">Expand</button>
			        <button type="button" class="collapse">Collapse</button>
          </div>
      </div>
		<div id="json"></div>
	</div>
</div>



<div style="display:none">
	<div id="sample_template" class="sample_div">
		<div>
			<h3 id="sample" class="sample_title"></h3>
			<button type="button" class="expand-sample">Hide</button>
		</div>
		
		<div id="content_box">
		</div>
	</div>
</div>


<div id="content">
	<button type="button" class="expand-all">Expand all</button>
	<button type="button" class="collapse-all">Collapse all</button>
</div>	

	<script>
		var data = {{ data }}
		
		// loop through json object
		function forIn(obj, fn, thisObj){
			var key,i=0;
			for(key in obj){
				if (exec(fn, obj, key, thisObj)=== false) {
					break;
				}
			}
		
			function exec(fn, obj, key, thisObj) {
				return fn.call(thisObj, obj[key], key, obj);
			}
			return forIn;
		}



		var expandall = document.querySelector('button.expand-all');
		expandall.addEventListener("click", function() {
			var buttons = document.getElementsByClassName('load-json');
			for(var i = 0; i < buttons.length; i++)  
 				buttons[i].click();			
		});
		var collapseall = document.querySelector('button.collapse-all');
		collapseall.addEventListener("click", function() {
			var buttons = document.getElementsByClassName('collapse');
			for(var i = 0; i < buttons.length; i++)  
 				buttons[i].click();			
		});


		//clone sample html template
		var titles;
		var sample_index = 0;
		forIn(data, function(val,key, o) {
			titles = val.titles;
			html = val.html;

			let clone = document.querySelector('#sample_template').cloneNode(true);
			
			clone.querySelector('#sample').innerHTML = key;
			let expandSample = clone.querySelector("button.expand-sample");
		    expandSample.addEventListener("click", function() {
		 		var x = clone.querySelector('#content_box');
		 		if (x.style.display === "none") {
		 			x.style.display = "block";
		 			this.innerHTML = "Hide";
		 		}
		 		else {
		 			x.style.display = "none";
		 			this.innerHTML = "Show";
		 		}
	 			
			});

			clone.setAttribute('id', 'sample'+sample_index);
			document.querySelector('#content').appendChild(clone);

			val.data.forEach(populate);
			sample_index+=1;
		});

		//data.forEach(populate);

        function populate(value,index,array) {
            let clone = document.querySelector('#feature_template').cloneNode(true);
            let jsonViewer = new JSONViewer();  
            clone.setAttribute('id', 'box'+index);
            clone.querySelector('#json').appendChild(jsonViewer.getContainer());
            var x = clone.querySelector('#json');
            x.style.display = "none";          
            clone.querySelector('#name').innerHTML = titles[index];
            let jsonObj = value; // JSON.parse(value);
            //console.log(jsonObj)
            //jsonViewer.showJSON(jsonObj);
            //jsonViewer.showJSON(jsonObj, null, 0);
            let loadJsonBtn = clone.querySelector("button.load-json");
            let collapseBtn = clone.querySelector("button.collapse");
            //let maxlvlBtn = clone.querySelector("button.maxlvl");
            loadJsonBtn.addEventListener("click", function() {
                //setJSON();
                var x = clone.querySelector('#json');
                x.style.display = "block";
                jsonViewer.showJSON(jsonObj);
            });

            collapseBtn.addEventListener("click", function() {
                var x = clone.querySelector('#json');
                x.style.display = "none";                
                //jsonViewer.showJSON(jsonObj, null, 0);
            });

            //maxlvlBtn.addEventListener("click", function() {
                //jsonViewer.showJSON(jsonObj, null, 3);
            //});
            
            clone.querySelector('#success').innerHTML = "Success: " + jsonObj.success
            if (jsonObj.success == true)
            	clone.querySelector('#success').classList.add("analyzer_success_msg")
            if (jsonObj.success == false) {
            	clone.querySelector('#success').classList.add("analyzer_fail_msg")
                let error = document.createElement("P");  
                error.innerHTML = jsonObj.errorMessage
                clone.querySelector('#success_div').appendChild(error)
            }
            if (html[index].length>0){
                var wrapper = document.createElement('div');
            
                wrapper.innerHTML= html[index];
                clone.querySelector('#parsed_data').appendChild(wrapper);
            }

            
            document.querySelector('#sample' + sample_index).querySelector('#content_box').appendChild(clone);
        }
		//var jsonObj = {};
		//var jsonViewer = new JSONViewer();
		//document.querySelector("#json").appendChild(jsonViewer.getContainer());

		
		// textarea value to JSON object
		var setJSON = function() {
			try {
				var value = data;
				jsonObj = JSON.parse(value);
			}
			catch (err) {
				alert(err);
			}
		};

		// load default value
		//setJSON();
		//jsonViewer.showJSON(jsonObj, null, 1);
		// var loadJsonBtn = document.querySelector("button.load-json");
		// var collapseBtn = document.querySelector("button.collapse");
		// var maxlvlBtn = document.querySelector("button.maxlvl");

		// loadJsonBtn.addEventListener("click", function() {
		// 	setJSON();
		// 	jsonViewer.showJSON(jsonObj);
		// });

		// collapseBtn.addEventListener("click", function() {
		// 	jsonViewer.showJSON(jsonObj, null, 1);
		// });

		// maxlvlBtn.addEventListener("click", function() {
		// 	jsonViewer.showJSON(jsonObj, 1);
		// });
	</script>
	</body>
</html>
