
.feature_div {
  margin-left: 40px;
}
.sample_div {
  margin-top: 15px;
}
.sample_title {
  display: inline-block;
  margin-top: 10px;
}
.analyzer_success_msg {
  color: green;
}
.analyzer_fail_msg {
  color: red;
}
p.JSON_control_p {
    display: inline-block;
}


/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  -webkit-font-smoothing: antialiased;
}
/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
ul,
ol {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  margin-top: 0.5rem;
  font-size: 1.414rem;
  margin-bottom: 0rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Tables */
table {
  margin-top: 0rem;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-left: 1rem;
}
table td,
table th {
  padding: 0px;
  text-align : left;
  padding-right: 10px;
  /*line-height: 33px;*/
}
/* Code blocks */
code {
  vertical-align: bottom;
}
button {
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 1px;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}



